body {
    margin: 0 auto;
    padding: 0;
}
.background {
    width: 100%;
    height: 600px;
    background: #009688;
    float: left;
}
.bar {
    width: 97%;
    height: 60px;
    background-color: white;
    border-radius: 5px;
    margin: 20px;
    float: left;
}
.logo {
    margin-top: 8px;
    margin-left: 10px;
}
.logo img {
    width: 60px;
    height: auto;
}
.list ul {
    float: right;
    margin-right: 20px;
    margin-bottom: 30px;
}
.list ul li {
    display: inline-block;
    margin-right: 30px;
    font-weight: bold;
}
.list {
    position: relative;
    bottom: 50px;
    right: 370px;
}
.buy {
    width: 130px;
    height: 40px;
    background-color: orange;
    border-radius: 50px;
    float: right;
    position: relative;
    bottom: 45px;
    left: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
.picture {
    border-radius: 50%;
    width: 370px;
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.cube1 {
    width: 120px;
    height: 50px;
    background: white;
    float: left;
    border-radius: 15px;
    position: relative;
    bottom: 320px;
    left: 320px;
}
.notebook {
    width: 60px;
    height: auto;
    margin-top: 7px;
}
.uiux {
    font-size: 20px;
    position: absolute;
    bottom: 14px;
    right: 12px;  
}
.cube2 {
    width: 150px;
    height: 50px;
    background: white;
    float: left;
    border-radius: 15px;
    position: relative;
    bottom: 200px;
    left: 100px;
}
.illustration {
    width: 40px;
    height: auto;
    margin-top: 6px;
    margin-left: 10px;
}
.design {
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    bottom: 15px;
    right: 10px;
}
.cube3 {
    width: 100px;
    height: 100px;
    background: white;
    float: left;
    border-radius: 50%;
    position: relative;
    bottom: 50px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.program {
    width: 70px;
    height: auto;
}
.cube4 {
    width: 130px;
    height: 50px;
    background: white;
    float: left;
    border-radius: 15px;
    position: relative;
    left: 550px;
    bottom: 330px;
}
.hand {
    width: 40px;
    height: auto;
    margin-top: 5px;
}
.hi {
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    bottom: 13px;
}
.cube5 {
    width: 170px;
    height: 50px;
    background: white;
    float: left;
    border-radius: 15px;
    position: relative;
    left: 450px;
    bottom: 200px;
}
.photograph {
    width: 60px;
    height: auto;
    position: relative;
    bottom: 3px; 
}
.photo {
    font-size: 20px;
    position: relative;
    bottom: 30px;
    right: 2px;
}
.cube6 {
    width: 180px;
    height: 70px;
    background: white;
    float: left;
    border-radius: 15px;
    position: relative;
    left: 200px;
}
.request {
    width: 40px;
    height: auto;
    position: relative;
    top: 10px;
    left: 10px;
}
.work {
    font-size: 20px;
    position: relative;
    left: 10px;
}

    